@model List<Loc>

@{
    ViewBag.Title = "Location";
}




<div>

    <h4>Search for an Location</h4>
    <form method="get">

        <div class="form-group">
            <label>City:</label>
            <input type="text" name="SearchNameKey">
        </div>

        <button asp-controller="Loc" asp-action="SearchName" type="submit" class="btn btn-primary">Search</button>
        <a asp-controller="Loc" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>


</div>



<br />
<br />





<h2>Location List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr> <th>Location ID</th> <th>City</th>  <th>Street</th> <th>Quick Action</th> </tr>
    </thead>
    <tbody>
        @foreach (var Loc in Model)
        {
            <tr>
                <td>@Loc.LocID</td>
                <td>@Loc.City</td>
                <td>@Loc.Street</td>
                <td>   <a href="/Loc/Delete/@Loc.LocID "> Delete </a> || <a href="/Loc/Edit/@Loc.LocID "> Edit </a> </td>
            </tr>
        }
    </tbody>
</table>


<br />
<br />
<a asp-controller="Loc" asp-action="AddLoc" class="btn btn-primary">Add new Location</a>

